@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMg.cshtml";
    var slidera = (Domain.Setter)ViewData["slidera"];
    var sliderb = (Domain.Setter)ViewData["sliderb"];
    var sliderc = (Domain.Setter)ViewData["sliderc"];
    var sliderd = (Domain.Setter)ViewData["sliderd"];

    var categorya = (Domain.Setter)ViewData["categorya"];
    var categoryb = (Domain.Setter)ViewData["categoryb"];
    var categoryc = (Domain.Setter)ViewData["categoryc"];
}
@section mg{
    <script type="text/javascript" src="@Url.Content("~/fckeditor2.3.6/fckeditor.js")"></script>
    <script type="text/javascript">

        function submit(d) {
            $('#'+d).form('submit', {
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (msg) {
                    $.messager.alert('提示', "保存成功", 'info', function () {
                        window.location.href = "/Setter/Index/";
                    });
                }
            });
        }

        var oFCKeditor = null;
        window.onload = function () {
            var sBasePath = '@Url.Content("~/fckeditor2.3.6/")';
            oFCKeditor = new FCKeditor('entity.Valuee');
            oFCKeditor.BasePath = sBasePath;
            oFCKeditor.Width = '100%';
            oFCKeditor.Height = 210;
            oFCKeditor.ReplaceTextarea();
        };
        function FCK_ExecuteCommand(commandName, target) {
            var f = FCKeditorAPI.GetInstance('entity.Valuee');
            if (!f) return;

            f._callback = function (value) {
                if (this.CommandName == "Image") {
                    //var target = GetE(this.CommandTarget);
                    var v = document.getElementById("entity.Valued." + this.CommandTarget);
                    //if (target) {
                        v.value = '';
                        v.value = value;
                    //}
                }
                this.CommandName = null;
            };

            function GetE(el) {
                return typeof (el) == "string" ? document.getElementById(el) : el;
            }

            f.CommandName = commandName;
            f.CommandTarget = target;
            f.Commands.GetCommand(commandName).Execute();
        }

        function removeImage(el) {
            var target = document.getElementById(el);
            var v = document.getElementsByName("entity.PImage" + el);
            target.src = '';
            v.value = '';
        }
    </script>
}
<div region="center" border="false">
     
    <div region="center" style="margin: 5px;">

        <form id="forma" method="post" action="/Setter/SaveSlider/" enctype="application/x-www-form-urlencoded">
            <table style="width: 100%;">
                <tr>
                    <td colspan="5">
                        <h3>第一张轮播图片设置</h3>
                        <input type="hidden" name="entity.ID" value="@slidera.ID"/>
                    </td>
                </tr>
                <tr>
                    <td>轮播图片地址</td>
                    <td>
                        <input name="entity.Valued" id="entity.Valued.a" value="@slidera.Valued"/>
                        <a href="#" class="easyui-linkbutton" onclick="FCK_ExecuteCommand('Image', 'a');" >浏览</a></td>
                    <td>点击链接地址：</td>
                    <td>
                        <input name="entity.Valuec" value="@slidera.Valuec"/></td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="submit('forma');">提交</a></td>
                </tr>
            </table>
        </form>
        <form id="formb" method="post" action="/Setter/SaveSlider/" enctype="application/x-www-form-urlencoded">
            <table style="width: 100%;">
                <tr>
                    <td colspan="5">
                        <h3>第二张轮播图片设置</h3>
                        <input type="hidden" name="entity.ID" value="@sliderb.ID"/>
                    </td>
                </tr>
                <tr>
                    <td>轮播图片地址</td>
                    <td>
                        <input name="entity.Valued" id="entity.Valued.b" value="@sliderb.Valued"/>
                        <a href="#" class="easyui-linkbutton" onclick="FCK_ExecuteCommand('Image', 'b');" >浏览</a></td>
                                        <td>点击链接地址：</td>
                    <td>
                        <input name="entity.Valuec" value="@sliderb.Valuec"/></td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="submit('formb');">提交</a></td>

                </tr>
            </table>
        </form>
        <form id="formc" method="post" action="/Setter/SaveSlider/" enctype="application/x-www-form-urlencoded">
            <table style="width: 100%;">
                <tr>
                    <td colspan="8">
                        <h3>第三张轮播图片设置</h3>
                        <input type="hidden" name="entity.ID" value="@sliderc.ID"/>
                    </td>
                </tr>
                <tr>
                    <td>轮播图片地址</td>
                    <td>
                        <input name="entity.Valued" id="entity.Valued.c" value="@sliderc.Valued"/>
                        <a href="#" class="easyui-linkbutton" onclick="FCK_ExecuteCommand('Image', 'c');" >浏览</a></td>
                    <td>点击链接地址：</td>
                    <td>
                        <input name="entity.Valuec" value="@sliderc.Valuec"/></td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="submit('formc');">提交</a></td>
                </tr>
            </table>
        </form>
        <form id="formd" method="post" action="/Setter/SaveSlider/" enctype="application/x-www-form-urlencoded">
            <table style="width: 100%;">
                <tr>
                    <td colspan="8">
                        <h3>第四张轮播图片设置</h3>
                        <input type="hidden" name="entity.ID" value="@sliderd.ID"/>
                    </td>
                </tr>
                <tr>
                    <td>轮播图片地址</td>
                    <td>
                        <input name="entity.Valued" id="entity.Valued.d" value="@sliderd.Valued"/>
                        <a href="#" class="easyui-linkbutton" onclick="FCK_ExecuteCommand('Image', 'd');" >浏览</a></td>
                    <td>点击链接地址：</td>
                    <td>
                        <input name="entity.Valuec" value="@sliderd.Valuec"/></td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="submit('formd');">提交</a></td>
                </tr>
            </table>
        </form>
        
        <form id="cb" method="post" action="/Setter/SaveCate/" enctype="application/x-www-form-urlencoded">
            <table style="width: 100%">
                <tr>
                    <td colspan="8"><h3>中间第一张图片</h3></td>
                </tr>
                <tr>
                    <td>中文名称</td>
                    <td>
                        <input type="hidden" name="entity.ID" value="@categoryb.ID"/>
                        <input name="entity.Name" value="@categoryb.Valuea.Split('|')[0]"/>
                    </td>
                    <td>英文名称</td>
                    <td>
                        <input name="entity.NameEn" value="@categoryb.Valuea.Split('|')[1]"/></td>
                    <td>图片地址</td>
                    <td>
                        <input name="entity.Valued" id="entity.Valued.f" value="@categoryb.Valued"/> <a href="#" class="easyui-linkbutton" onclick="FCK_ExecuteCommand('Image', 'f');" >浏览</a></td>
                    <td>链接地址</td>
                    <td>
                        <input name="entity.Valuec" value="@categoryb.Valuec"/></td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="submit('cb');">提交</a></td>
                </tr>
            </table>
        </form>

        <form id="ca" method="post" action="/Setter/SaveCate/" enctype="application/x-www-form-urlencoded">
            <table style="width: 100%">
                <tr>
                    <td colspan="8"><h3>中间第二张图片</h3></td>
                </tr>
                <tr>
                    <td>中文名称</td>
                    <td>
                        <input type="hidden" name="entity.ID" value="@categorya.ID"/>
                        <input name="entity.Name" value="@categorya.Valuea.Split('|')[0]"/>
                    </td>
                    <td>英文名称</td>
                    <td>
                        <input name="entity.NameEn" value="@categorya.Valuea.Split('|')[1]"/></td>
                    <td>图片地址</td>
                    <td>
                        <input name="entity.Valued" id="entity.Valued.e" value="@categorya.Valued"/> <a href="#" class="easyui-linkbutton" onclick="FCK_ExecuteCommand('Image', 'e');" >浏览</a></td>
                    <td>链接地址</td>
                    <td>
                        <input name="entity.Valuec" value="@categorya.Valuec"/></td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="submit('ca');">提交</a></td>
                </tr>
            </table>
        </form>

        

        <form id="cc" method="post" action="/Setter/SaveCate/" enctype="application/x-www-form-urlencoded">
            <table style="width: 100%">
                <tr>
                    <td colspan="8"><h3>中间第三张图片</h3></td>
                </tr>
                <tr>
                    <td>中文名称</td>
                    <td>
                        <input type="hidden" name="entity.ID" value="@categoryc.ID"/>
                        <input name="entity.Name" value="@categoryc.Valuea.Split('|')[0]"/>
                    </td>
                    <td>英文名称</td>
                    <td>
                        <input name="entity.NameEn" value="@categoryc.Valuea.Split('|')[1]"/></td>
                    <td>图片地址</td>
                    <td>
                        <input name="entity.Valued" id="entity.Valued.g" value="@categoryc.Valued"/> <a href="#" class="easyui-linkbutton" onclick="FCK_ExecuteCommand('Image', 'g');" >浏览</a></td>
                    <td>链接地址</td>
                    <td>
                        <input name="entity.Valuec" value="@categoryc.Valuec"/></td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="submit('cc');">提交</a></td>
                </tr>
            </table>
        </form>
    </div>
    <div style="display: none;"><textarea name="entity.Valuee" tabindex="1000"></textarea></div>
</div>
