@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var language = HttpContext.Current.Session["isCN"];
    var isCN = language == null || language.ToString() != false.ToString();
    var f = (Domain.Forum)this.ViewData["forum"];
    var entity = (Domain.Category)this.ViewData["entity"];
}
<!-- start main -->
    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <!-- start service -->
                <div class="service">
                    <div class="ser-main">
                        <h4>@(isCN?entity.Name:entity.NameEn)</h4>
                        <p class="para"></p>
                        <hr/>
                        @{
                            if (entity.CategoryType == "内容")
                            {
                                @(isCN ? Html.Raw(entity.Content) : Html.Raw(entity.ContentEn))
                            }
                            else
                            {
                                int i = 0;
                                foreach (var a in (this.ViewData["ArticleList"] as IEnumerable<Domain.Article>))
                                {
                                    <h5><a href="/Article/@a.ID/html">@a.Name</a></h5>
                                }
                            }
                        }
                        </div>
                    <div class="left_sidebar">
                        <div class="sellers">
                            <h4>@(isCN?f.Name:f.NameEn)</h4>
                            @{
                                if ((this.ViewData["CategoryList"] as IEnumerable<Domain.Category>).Count() > 0)
                                {
                                    <div class="single-nav">
                                        <ul>
                                            @{
                                    foreach (var c in this.ViewData["CategoryList"] as IEnumerable<Domain.Category>)
                                                {
                                                    <li><a href="/@c.Forum.ID/@c.ID/Category.html">@(isCN?c.Name:c.NameEn)</a></li>
                                                }        
                                            }
                                        </ul>
                                    </div>        
                                }
                            }
                            
                        </div>
                        <div class="brands" style="border: solid 1px #dddddd">
                            <h1>@(isCN?"热销产品":"Hot Products")</h1>
                            @{
                                foreach (var p in (this.ViewData["hotp"] as IEnumerable<Domain.Article>))
                                {
                                <div class="field">
                                    <a href="/Article/Product/@p.ID">
                                        <img src="@p.PImagea" alt="" />
                                        <h3>@(isCN?p.Name:p.NameEn)</h3>
                                    </a>
                                </div>
                                }
                            }
                            </div>
                        <div class="banner-wrap bottom_banner color_link">
                                <a href="#" class="main_link">
                                    <figure>
                                        <img src="images/delivery.png" alt="">
                                    </figure>
                                    <h5><span>Free Shipping</span><br>
                                        on orders over $99.</h5>
                                    <p>This offer is valid on all our store items.</p>
                                </a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>