@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var language = HttpContext.Current.Session["isCN"];
    var isCN = language == null || language.ToString() != false.ToString();
    var f = (Domain.Forum)this.ViewData["forum"];
}
@section home{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easing.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mixitup.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            var filterList = {
                init: function () {
                    // MixItUp plugin
                    $('#portfoliolist').mixitup({
                        targetSelector: '.portfolio',
                        filterSelector: '.filter',
                        effects: ['fade'],
                        easing: 'snap',
                        // call the hover effect<a href="Product.cshtml">Product.cshtml</a>
                        onMixEnd: filterList.hoverEffect()
                    });

                },

                hoverEffect: function () {
                    // Simple parallax effect
                    $('#portfoliolist .portfolio').hover(
                        function () {
                            $(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad');
                            $(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad');
                        },
                        function () {
                            $(this).find('.label').stop().animate({ bottom: -40 }, 200, 'easeInQuad');
                            $(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad');
                        }
                    );

                }

            };
            // Run the show!
            filterList.init();
        });
    </script>
}
<!-- start main -->
    <div class="main_bg" style="min-height: 450px;">
        <div class="wrap">
            <div class="main">
                <!-- start gallery_sale  -->
                <div class="gallery1">
                    <div class="container">
                        <ul id="filters" class="clearfix">
                             @{
                                 var al = "";
                                 foreach (var c in (this.ViewData["CategoryList"] as IList<Domain.Category>))
                                 {
                                     al += " " + c.NameEn;
                                 }
                                 if (this.ViewData["cid"] == null)
                                 {
                                     <li><span class="filter active" data-filter="@al"><a href="/@f.ID/PList.html">@(isCN ? "全部" : "All")</a></span></li>
                                 }
                                 else
                                 {
                                     <li><span class="filter" data-filter="@al"><a href="/@f.ID/PList.html">@(isCN ? "全部" : "All")</a></span></li>    
                                 }

                                 foreach (var c in (this.ViewData["CategoryList"] as IList<Domain.Category>))
                                 {
                                     if (c.ID.Equals(this.ViewData["cid"]))
                                     {
                                        <li><span class="filter active" data-filter="@c.NameEn"><a href="/@f.ID/PList.html?cid=@c.ID">@(isCN ? c.Name : c.NameEn)</a></span></li>
                                     }
                                     else
                                     {
                                        <li><span class="filter" data-filter="@c.NameEn"><a href="/@f.ID/PList.html?cid=@c.ID">@(isCN ? c.Name : c.NameEn)</a></span></li> 
                                     }
                                    
                                 }
                            }
                        </ul>
                        <div id="portfoliolist">
                            @{
                                foreach (var article in (this.ViewData["ArticleList"] as IList<Domain.Article>))
                                {
                                    <div class="portfolio @article.Category.NameEn" data-cat="@article.Category.NameEn">
                                        <div class="portfolio-wrapper">
                                            <a href="/Article/Product/@article.ID">
                                                
                                                <img src="@article.PImagea?height=324&width=298" alt="@(isCN ? article.Description : article.DescriptionEn)" />
                                            </a>
                                            <div class="label">
                                                <div class="label-text">
                                                    <a class="text-title" href="/Article/Product/@article.ID">@(isCN ? article.Name : article.NameEn)</a>
                                                    <span class="text-category">@(isCN ? article.Category.Name : article.Category.NameEn)</span>
                                                </div>
                                                <div class="label-bg"></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            
                        </div>
                    </div>
                    <!-- container -->
                    <script type="text/javascript" src="@Url.Content("~/Scripts/fliplightbox.min.js")"></script>
                    <script type="text/javascript">$('body').flipLightBox()</script>
                    <div class="clear"></div>
                </div>
                <!---End-gallery----->
            </div>
        </div>
    </div>
