@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var language = HttpContext.Current.Session["isCN"];
    var isCN = language == null || language.ToString() != false.ToString();
    
}
@section home{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easing.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mixitup.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            var filterList = {
                init: function () {
                    // MixItUp plugin
                    $('#portfoliolist').mixitup({
                        targetSelector: '.portfolio',
                        filterSelector: '.filter',
                        effects: ['fade'],
                        easing: 'snap',
                        // call the hover effect
                        onMixEnd: filterList.hoverEffect()
                    });

                },

                hoverEffect: function () {
                    // Simple parallax effect
                    $('#portfoliolist .portfolio').hover(
                        function () {
                            $(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad');
                            $(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad');
                        },
                        function () {
                            $(this).find('.label').stop().animate({ bottom: -40 }, 200, 'easeInQuad');
                            $(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad');
                        }
                    );

                }

            };
            // Run the show!
            filterList.init();
        });
    </script>
}
<!-- start main -->
    <div class="main_bg" style="min-height: 450px;">
        <div class="wrap">
            <div class="main">
                <!-- start gallery_sale  -->
                <div class="gallery1">
                    <div class="container">
                        <ul id="filters" class="clearfix">
                             @{
                                var al = "";
                                foreach (var c in (this.ViewData["CategoryList"] as IList<Domain.Category>))
                                {
                                    al += " " + c.NameEn;
                                }
                                <li><span class="filter active" data-filter="@al">@(isCN?"全部":"All")</span></li>
                            }
                            @{
                                foreach (var c in (this.ViewData["CategoryList"] as IList<Domain.Category>))
                                {
                                    <li><span class="filter" data-filter="@c.NameEn">@(isCN?c.Name:c.NameEn)</span></li>
                                }
                            }
                        </ul>
                        <div id="portfoliolist">
                            @{
                                foreach (var article in (this.ViewData["ArticleList"] as IList<Domain.Article>))
                                {
                                    <div class="portfolio @article.Category.NameEn" data-cat="@article.Category.NameEn">
                                        <div class="portfolio-wrapper">
                                            <a href="@article.ID">
                                                <img src="@article.PImagea" alt="@(isCN?article.Description:article.DescriptionEn)" />
                                            </a>
                                            <div class="label">
                                                <div class="label-text">
                                                    <a class="text-title">@(isCN?article.Name:article.NameEn)</a>
                                                    <span class="text-category">@(isCN?article.Category.Name:article.Category.NameEn)</span>
                                                </div>
                                                <div class="label-bg"></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            
                        </div>
                    </div>
                    <!-- container -->
                    <script type="text/javascript" src="@Url.Content("~/Scripts/fliplightbox.min.js")"></script>
                    <script type="text/javascript">$('body').flipLightBox()</script>
                    <div class="clear"></div>
                </div>
                <!---End-gallery----->
            </div>
        </div>
    </div>
