@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutMg.cshtml";
    var c = (Domain.Category) this.ViewData["entity"];
    var forumList = (System.Collections.Generic.IList<Domain.Forum>)this.ViewData["ForumList"];
}
@section mg{
    <script type="text/javascript" src="@Url.Content("~/fckeditor2.3.6/fckeditor.js")"></script>
    <script language="javascript" type="text/javascript">
        
        function submit() {
            $('#form').form('submit', {
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (msg) {
                    $.messager.alert('提示', "保存成功", 'info', function () {
                        window.location.href = "/Category/Index/";
                    });
                }
            });
        }

        window.onload = function() {
            var sBasePath = '@Url.Content("~/fckeditor2.3.6/")';
            oFCKeditor = new FCKeditor('entity.Content');
            oFCKeditor.BasePath = sBasePath;
            oFCKeditor.Width = '100%';
            oFCKeditor.Height = 400;
            oFCKeditor.ReplaceTextarea();

            var pFCKeditor = new FCKeditor('entity.ContentEn');
            pFCKeditor.BasePath = sBasePath;
            pFCKeditor.Width = '100%';
            pFCKeditor.Height = 400;
            pFCKeditor.ReplaceTextarea();
        };
        
    </script>
}
<div region="center" border="false" fit="true">
        <div region="north" border="false" class="title" style="text-align: center; height: 40px;
            line-height: 40px; font-size: x-large;">
            分类信息
        </div>
        <form region="center" border="false" fit="true" id="form" method="post" 
            action="/Category/Save/" enctype="application/x-www-form-urlencoded">
        <div region="center" title="主要信息">
            <div class="title" style="text-align: center; height: 20px;
                line-height: 20px; font-size: large;color: White;background-color:#6699FF">
                主要信息
            </div>
            <input type="hidden" id="id" name="entity.ID" value="@c.ID" />
            <table>
                <tr>
                    <td style="text-align: right; width: 120px;">
                        排序顺序(<font color="red">*</font>)：
                    </td>
                    <td>
                        <input type="text" class="easyui-validatebox" required="true" name="entity.OrderNo"
                            value="@c.OrderNo" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 120px;">
                        中文名(<font color="red">*</font>)：
                    </td>
                    <td>
                        <input type="text" class="easyui-validatebox" required="true" name="entity.Name"
                            value="@c.Name" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 120px;">
                        英文名(<font color="red">*</font>)：
                    </td>
                    <td>
                        <input type="text" class="easyui-validatebox" required="true" name="entity.NameEn"
                            value="@c.NameEn" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 120px;">
                        分类类型(<font color="red">*</font>)：
                    </td>
                    <td>
                        <select name="entity.CategoryType" class="easyui-combobox" required="true">
                            @{
                                if (string.IsNullOrEmpty(c.CategoryType) || c.CategoryType == "内容" || c.CategoryType != "列表")
                                {
                                    <option value="内容" selected="selected">内容</option>
                                    <option value="列表">列表</option>
                                }
                                else
                                {
                                    <option value="内容">内容</option>
                                    <option value="列表" selected="selected">列表</option>
                                }

                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 120px;">
                        版块(<font color="red">*</font>)：
                    </td>
                    <td>
                        <select id="cc" class="easyui-combobox" name="forumId" required="true">
                            @{
                                foreach (var f in forumList)
                                {
                                    if (c.Forum == null || c.Forum.Name != f.Name)
                                    {
                                        <option value="@f.ID">@f.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@f.ID" selected="selected">@f.Name</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 120px;">
                        显示(<font color="red">*</font>)：
                    </td>
                    <td>
                        @{
                            if (c.IsEnabled)
                            {
                                <input type="checkbox" name="entity.IsEnabled" checked="checked" value="@c.IsEnabled" onclick="this.value = checked == 'checked' || 'true';" />
                            }
                            else
                            {
                                <input type="checkbox" name="entity.IsEnabled" value="@c.IsEnabled" onclick="this.value = checked == 'checked' || 'true';" />
                            }
                        }
                     </td>
                </tr>
            </table>
        </div>
        <div region="south" title="中文信息">
         <div class="title" style="text-align: center; height: 20px;
                line-height: 20px; font-size: large;color: White;background-color:#6699FF">
                中文信息
            </div>
            <table style="width:100%;">
                <tr>
                    <td style="text-align: right; width: 120px;">
                        关键字：
                    </td>
                    <td>
                        <input type="text" style="width: 300px;"
                        class="easyui-validatebox" name="entity.Keyword" value="@c.Keyword" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 120px;">
                        描述：
                    </td>
                    <td>
                        <textarea style="width: 300px;"
                        class="easyui-validatebox" name="entity.Description">@c.Description</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"  style="text-align: center; width: 120px;">
                        内容：
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @{
                            if (string.IsNullOrEmpty(c.Content))
                            {
                                <textarea name="entity.Content"></textarea>
                            }
                            else
                            {
                                <textarea name="entity.Content">@c.Content</textarea>
                            }
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div title="英文信息" region="south">
              <div class="title" style="text-align: center; height: 20px;
                line-height: 20px; font-size: large;color:  White;background-color:#6699FF">
                英文信息
            </div>
            <table style="width:100%;">
                <tr>
                    <td style="text-align: right; width: 120px;">
                        关键字：
                    </td>
                    <td>
                        <input type="text" style="width: 300px;"
                         class="easyui-validatebox" name="entity.KeywordEn" value="@c.KeywordEn" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; width: 120px;">
                        描述：
                    </td>
                    <td>
                        <textarea style="width: 300px;"
                        class="easyui-validatebox" name="entity.DescriptionEn">@c.DescriptionEn</textarea>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; width: 120px;" colspan="2">
                        内容：
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @{
                            if (string.IsNullOrEmpty(c.ContentEn))
                            {
                                <textarea name="entity.ContentEn"></textarea>
                            }
                            else
                            {
                                <textarea name="entity.ContentEn">@c.ContentEn</textarea>
                            }
                        }
                    </td>
                </tr>
            </table>
        </div>
        </form>
        <div region="south" border="false" style="text-align: right; height: 40px; line-height: 30px;
            background-color: #f7f7f7;">
            <table style="width: 100%">
                <tr>
                    <td>
                    </td>
                    <td style="text-align: right">
                   
                        <a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="submit();">提交</a>
                        <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="location.href = document.referrer;">
                            返回</a>
                    </td>
                </tr>
            </table>
        </div>
</div>
