@{
    var language = HttpContext.Current.Session["isCN"];
    var isCN = language == null || language.ToString() != false.ToString();
    ViewBag.Title = isCN ? "广州洛讯皮具有限公司" : "Guangzhou luoxun leather co.,LTD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section home{
    <!-- start slider -->
    <style type="text/css">
        #kinMaxShow {
            visibility: hidden;
            width: 100%;
            height: 500px;
            overflow: hidden;
        }
    </style>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr.custom.28468.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.kinMaxShow-1.0.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("#kinMaxShow").kinMaxShow();
            $('#fdw ul li').hover(
                function () {
                    $('ul', this).slideDown(150);
                },
                function () {
                    $('ul', this).slideUp(150);
                }
            );
        });
    </script>
    <!-- Owl Carousel Assets -->
    <link href="@Url.Content("~/Content/owl.carousel.css")" rel="stylesheet">
    <!-- Owl Carousel Assets -->
    <!-- Prettify -->
    <script src="@Url.Content("~/Scripts/owl.carousel.js")"></script>
    <script>
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({
                slideSpeed: 1,
                items: 4,
                lazyLoad: true,
                autoPlay: true,
                navigation: true,
                navigationText: ["", ""],
                rewindNav: true,
                scrollPerPage: false,
                pagination: false,
                paginationNumbers: false,
            });

        });
    </script>
}
<!-- start slider -->
<div id="da-slider" class="da-slider">
    <div id="kinMaxShow">
        @{
            foreach (var sl in (this.ViewData["slider"] as IList<Domain.Setter>))
            {
                <div>
                    <a href="@sl.Valuec" target="_blank">
                        <img src="@sl.Valued" /></a>
                </div>
            }
        }
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <!-- start grids_of_3 -->
            <div class="grids_of_3">
                @{
                    foreach (var c in (this.ViewData["categoryImg"] as IList<Domain.Setter>))
                    {
                    <div class="grid1_of_3">
                        <a href="@c.Valuec">
                            <img src="@c.Valued?width=300&height=300" alt="" />
                            <h3>@(isCN ? c.Valuea.Split('|')[0] : c.Valuea.Split('|')[1])</h3>
                            <span class="b_btm"></span>
                        </a>
                    </div>
                    }
                }
                <div class="clear"></div>
            </div>
            <!-- end grids_of_3 -->
        </div>
    </div>
</div>

<!-- start main1 -->
<div class="main_bg1">
    <div class="wrap">
        <div class="main1">
            <h2>@(isCN ? "最新产品" : "Latest Product")</h2>
        </div>
    </div>
</div>

<!--start-cursual-->
<div class="wrap">
    <!--最后发布的商品的前10件商品的第一张主图和商品地址-->
    <div id="owl-demo" class="owl-carousel">
        @{
            foreach (var p in (this.ViewData["topar"] as IList<Domain.Article>))
            {
            <div class="item" onclick="location.href='/Article/Product/@p.ID';">
                <div class="cau_left">
                    <img class="lazyOwl" data-src="@p.PImagea?width=200&height=200" alt="@(isCN ? p.Keyword : p.KeywordEn)">
                </div>
            </div>
            }
        }
    </div>
    <!--//End-img-cursual-->
</div>
