@{
    ViewBag.Title = "大平";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var language = HttpContext.Current.Session["isCN"];
    var isCN = language == null || language.ToString() != false.ToString();
    
}
@section home{
    <!-- start slider -->
    <link href="@Url.Content("~/Content/slider.css")" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr.custom.28468.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.cslider.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#da-slider').cslider();
            $('#fdw ul li').hover(
                function () {
                    $('ul', this).slideDown(150);
                },
                function () {
                    $('ul', this).slideUp(150);
                }
            );
        });
    </script>
    <!-- Owl Carousel Assets -->
    <link href="@Url.Content("~/Content/owl.carousel.css")" rel="stylesheet">
    <!-- Owl Carousel Assets -->
    <!-- Prettify -->
    <script src="@Url.Content("~/Scripts/owl.carousel.js")"></script>
    <script>
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({
                items: 4,
                lazyLoad: true,
                autoPlay: true,
                navigation: true,
                navigationText: ["", ""],
                rewindNav: false,
                scrollPerPage: false,
                pagination: false,
                paginationNumbers: false,
            });

        });
    </script>
}
    <!-- start slider -->
<div id="da-slider" class="da-slider">
    @{
        foreach (var sl in (this.ViewData["slider"] as IList<Domain.Setter>))
        {
            <div class="da-slide">
                <h2>@(isCN?sl.Valuea.Split('|')[0]:sl.Valuea.Split('|')[1])</h2>
                <p>@(isCN?sl.Valueb.Split('|')[0]:sl.Valueb.Split('|')[1])</p>
                <a href="@sl.Valuec" class="da-link">@(isCN?"去看看":"shop now")</a>
                <div class="da-img"><img src="@sl.Valued" alt="image01" /></div>
            </div>
        }
    }
    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>
</div>
    
    <!-- start main -->
    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <!-- start grids_of_3 -->
                <div class="grids_of_3">
                    @{
                        foreach (var c in (this.ViewData["categoryImg"] as IList<Domain.Setter>))
                        {
                            <div class="grid1_of_3">
                                <a href="@c.Valuec">
                                    <img src="@c.Valued" alt="" />
                                    <h3>@(isCN ? c.Valuea.Split('|')[0] : c.Valuea.Split('|')[1])</h3>
                                    <span class="b_btm"></span>
                                </a>
                            </div>
                        }
                    }
                    <div class="clear"></div>
                </div>
                <!-- end grids_of_3 -->
            </div>
        </div>
    </div>
    
    <!-- start main1 -->
    <div class="main_bg1">
        <div class="wrap">
            <div class="main1">
                <h2>@(isCN ? "最新产品" : "Latest Product")</h2>
            </div>
        </div>
    </div>
    
    <!--start-cursual-->
    <div class="wrap">
        <!--最后发布的商品的前10件商品的第一张主图和商品地址-->
        <div id="owl-demo" class="owl-carousel">
            @{
                foreach (var p in (this.ViewData["topar"] as IList<Domain.Article>))
                {
                    <div class="item" onclick="location.href='@p.ID';">
                        <div class="cau_left">
                            <img class="lazyOwl" data-src="@p.PImagea" alt="@(isCN ? p.Keyword : p.KeywordEn)">
                        </div>
                    </div>
                }
            }
        </div>
        <!--//End-img-cursual-->
    </div>
