@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var entity = (Domain.Article) this.ViewData["entity"];
    var language = HttpContext.Current.Session["isCN"];
    var isCN = language == null || language.ToString() != false.ToString();
}
<div class="main_bg">
        <div class="wrap">
            <div class="main">
                <!-- start service -->
                <div class="service">
                    <div class="ser-main">
                        <h4>@(isCN?entity.Name:entity.NameEn)</h4>
                        <p class="para">@entity.CreateDate.ToShortDateString()&nbsp;&nbsp;@entity.ViewCount</p>
                        <hr/>
                              @(isCN ? Html.Raw(entity.Content) : Html.Raw(entity.ContentEn))
                        </div>
                    <div class="left_sidebar">
                        <div class="brands" style="border: solid 1px #dddddd">
                            <h1>@(isCN?"热销产品":"Hot Products")</h1>
                            @{
                                foreach (var p in (this.ViewData["hotp"] as IEnumerable<Domain.Article>))
                                {
                                <div class="field">
                                    <a href="@p.ID">
                                        <img src="@p.PImagea" alt="" />
                                        <h3>@(isCN?p.Name:p.NameEn)</h3>
                                    </a>
                                </div>
                                }
                            }
                            </div>
                        <div class="banner-wrap bottom_banner color_link">
                                <a href="#" class="main_link">
                                    <figure>
                                        <img src="images/delivery.png" alt="">
                                    </figure>
                                    <h5><span>Free Shipping</span><br>
                                        on orders over $99.</h5>
                                    <p>This offer is valid on all our store items.</p>
                                </a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
