@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutMg.cshtml";
    var f = (Domain.Forum)this.ViewData["entity"];
}
@section mg{
    <script language="javascript" type="text/javascript">

        function submit() {
            $('#form').form('submit', {
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (msg) {
                    $.messager.alert('提示', "保存成功", 'info', function () {
                        window.location.href = "/Forum/Index/";
                    });
                }
            });
        }

    </script>
}
    <div region="center" border="false">
        <div region="north" border="true" class="title" style="text-align: center; height: 40px; line-height: 40px; font-size: x-large;">
            版块信息
        </div>
        <div region="center">

            <form id="form" method="post" action="/Forum/Save/" enctype="application/x-www-form-urlencoded">
                <input type="hidden" id="id" name="entity.ID" value="@f.ID" />
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: right; width: 120px;">排序顺序(<font color="red">*</font>)：
                        </td>
                        <td>
                            <input type="text" class="easyui-validatebox" required="true" name="entity.OrderNo"
                                value="@f.OrderNo" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 120px;">中文名(<font color="red">*</font>)：
                        </td>
                        <td>
                            <input type="text" class="easyui-validatebox" required="true" name="entity.Name"
                                value="@f.Name" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 120px;">英文名(<font color="red">*</font>)：
                        </td>
                        <td>
                            <input type="text" class="easyui-validatebox" required="true" name="entity.NameEn"
                                value="@f.NameEn" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; width: 120px;">显示(<font color="red">*</font>)：
                        </td>

                        <td>
                            @{
                                if (f.IsEnabled)
                                {
                                    <input type="checkbox" name="entity.IsEnabled" checked="checked" value="@f.IsEnabled" 
                                           onclick=" this.value = checked == 'checked' || 'true'; " />
                                }
                                else
                                {
                                    <input type="checkbox" name="entity.IsEnabled" value="@f.IsEnabled" 
                                           onclick=" this.value = checked == 'checked' || 'true'; " />
                                }
                            }
                        </td>

                    </tr>
                    <tr>
                        <td style="text-align: right; width: 120px;">商品板块(<font color="red">*</font>)：
                        </td>
                        <td>
                            @{
                                if (f.IsProuduct)
                                {
                                    <input type="checkbox" name="entity.IsProuduct" checked="checked" value="@f.IsProuduct" onclick="this.value = checked == 'checked' || 'true';" />
                                }
                                else
                                {
                                    <input type="checkbox" name="entity.IsProuduct" value="@f.IsProuduct" onclick="this.value = checked == 'checked' || 'true';" />
                                }
                            }
                            
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div region="south" border="true" style="text-align: right; height: 40px; line-height: 30px; background-color: #f7f7f7;">
        <table style="width: 100%">
            <tr>
                <td></td>
                <td style="text-align: right">
                    <a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="submit();">提交</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="location.href = document.referrer;">返回</a>
                </td>
            </tr>
        </table>
    </div>
